node_modules/
dist/
build/
.next/
.nuxt/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Java / Maven
target/
*.class
*.jar
*.war

# IDEs (STS / IntelliJ / VS Code)
.settings/
.classpath
.project
.factorypath
.idea/
*.iml
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# OS
.DS_Store
Thumbs.db
