@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Noto+Sans+Symbols:wght@100..900&display=swap');

body{
    font-family: "BitCount Grid Double",sans-serif;
    background-color: #403f3f;
    
}