.container{
    padding: 50px;
    border-radius: 15px;
    text-align: center;
    transition: background-color 0.75s ease;
    border: 2px solid #332;
    margin-top: 30px;
}

button{
    padding: 25px;
    font-size: 1.2rem;
    cursor:pointer ;
    background: white;
    border-radius: 35px;
    border: none;
}

button:hover{
    background-color: rgb(111, 162, 183);
    transform: scale(1.07);
    transition: 0.5s;
}